<!-- <form class="example-form">

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Giá Sản Phẩm" [(ngModel)]="price" (keyup)="change()">

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Số lượng" [(ngModel)]="amount" (keyup)="change()">

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Discount" [(ngModel)]="discount" (keyup)="change()">

  </mat-form-field>




</form>
<p> Thành Tiền : {{isValue}} </p> -->

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Club</th>
      <th scope="col">Played</th>
      <th scope="col">Won</th>
      <th scope="col">Drawn</th>
      <th scope="col">Lost</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pri of primerleague">
      <th scope="row">{{pri.id}}</th>
      <td>{{pri?.club}}</td>
      <td>{{pri?.played}}</td>
      <td>{{pri?.won}}</td>
      <td>{{pri?.drawn}}</td>
      <td>{{pri?.lost}}</td>
      <td>{{pri?.points}}</td>

    </tr>

  </tbody>
</table>
<div *ngFor="let pri of primerleague; trackBy :  trackByPrimerleague">{{pri.id}} - {{pri.club}}</div>
<h1> {{title}} </h1>
<div>
  <!-- <input type="text" (change)="onInput($event)"> -->
  <button (click)="onClick()">Button...</button>
</div>

<input type="text" [(ngModel)]="currentHero.name" (ngModelChange)="currentHero.name=$event">
<!-- <div>
  <img [src]="avatarUrl" [ngClass]="{'lts-avatar:round'}">
</div> -->
<p [ngClass]="{'lts-avatar': false }"> I love you {{ avatarUrl | json }} </p>
<button (click)="changeColor($event)" type="button" class="btn btn-secondary btn-lg"> Button </button>

<div>
  <!-- <input type="text"
    (keyup.enter)="updateMesssages()"
    [(ngModel)]="message"
  > -->
  <input type="text" [value]="message" (input)="message = $event.target.value">
  <button class="btn btn-danger" (click)="updateMesssages()">ngModel</button>
</div>
<ul *ngFor="let mess of messages">
  <li>{{mess}}</li>
</ul>
<br>

<div>
  <input type="text" #nameInput>
  <button class="btn btn-danger" (click)="sayHello()">Template Variable</button>
</div>

<!-- <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
  <div class="form-group">
    <label for="name">Name
      <input class="form-control" name="name" required [(ngModel)]="hero.name">
    </label>
  </div>
  <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
</form>
<div [hidden]="!heroForm.form.valid">
  {{submitMessage}}
</div> -->
<!-- <Label>Are you married?:>
  <input type="radio" name="options" id=""  [(ngModel)] > Yes
  <input type="radio" name="yes" id="" value="N"> No
  <button class="btn btn-danger" (click)="Check1()">Submit</button>
</Label>
<p></p> -->
