<div class="carosel">
  <div class="container">
    <div class="your-class">

      <div>
          <p>Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.</p>
          <cite>Michael Hopkins</cite>
      </div>
      <div>
          <p>Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.</p>
          <cite>Michael Hopkins</cite>
      </div>
      <div>
          <p>Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.</p>
          <cite>Michael Hopkins</cite>
      </div>
    </div>
  </div>
</div>
