<h1  [ngStyle]="{color:'red'}" [style.color]="'green'" >My name is {{name}}</h1>
<form class="example-form">

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Giá Sản Phẩm" (keyup)="onKey($event)" >

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Số lượng" (keyup)="onKey1($event)" >

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Discount" (keyup)="onKey2($event)">

  </mat-form-field>




</form>
<p> Thành Tiền :   {{isValue}}  </p>
<lts-thanhson [round]="true" [avatarUrl]="'Thanh Sơn'"></lts-thanhson>
